body{
    background-color: black;
}

.panel {
    background-color: white;
    position: relative;
    left: 500px;
    width: 400px;
    height: 100px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}

.bx{
    background-color: aqua;
}

.btez {
    position: relative;
    left: 560px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: black;
    color: rgb(0, 255, 34);
    bottom: -100px;
}


.bthr {
    position: relative;
    left: 600px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: black;
    color: rgb(255, 0, 0);
    bottom: -100px;
}